  body {
    height: 100%;
  }

  .diagram, .display-6, .var, .content {
    text-align: center;
    margin: 3% 0;
  }
  .chord {
    line-height: 50px;
  }

  #diagram {
    height: 100%;
    margin-top: 5%;
  }

  input {
    visibility: hidden;
  }

  label {
    cursor: pointer;
    font-size: 2em;
    margin-right: 1%;
    margin-left: 2%;
  }

  input:checked + label {
    background-color: rgb(83,236,227);
  }

  pre {
    background-color: hsl(64,52%,58%);
    border-radius: 10px;
    margin: 3% 2%;
    padding: 3% 0;
  }

  .chords {
    display: inline-block;
    position: relative;
    width: 0;
    top: -1.3em;
    left: 0;
    font-weight: bold;
  }

  #first {
    background-image: url(../img/guitarist.jpeg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #second {
    background-image: url(../img/wallpaper.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #third {
    background-image: url(../img/guitarist2.jpeg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /*#headstock {
  height: 100px;
  width: 100px;
}*/

header {
  background-image: linear-gradient(grey, white);
}

#top-content > h1 {
  margin-top: 20px;
  text-align: center;
}


  img {
    background-position: -10px
  }

  p {
    text-align: justify;
  }

.container > p {
  text-align: center;
}

.container > h3, #about {
    text-align: center;
}

#top-content{
  background-image: url(assets/img/cover.jpg);
  background-size: cover;
  height: 100px;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#about-content {
  padding: 10px;
}

footer {
    position: absolute;
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2a2a2a;
    color: white;
    text-align: center;
    padding: 20px;
}